* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

a:hover {
    color: orange;
}
a:visited {
    color: lightskyblue;
}

/*main navigation*/

header nav {
    position: relative;
	width: 100%;
    height: 40px;
	box-sizing: border-box;
	background-color: grey;
	color: white;
}

header nav ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
}

header nav ul li {
    position: relative;
    float: left;
    width: 160px;
    height: 40px;
    background-color: grey;
    opacity: 0.95;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    z-index: 100;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

header nav ul li a:hover {
    background-color: darkturquoise;
    border-bottom: 3px solid red;
}

header nav ul li ul li {
    display: none;
}

header nav ul li:hover ul li {
    display: block;
    z-index: 100;
}

header nav ul li ul li a:hover {
    display: block;
    border-bottom: 3px solid red;
}

header nav ul {
    list-style: none;
}

/*css of index.html*/

.wrapper-index {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 40px 700px 60px;
}

.row1i {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    grid-row: 1;
}

.row2i {
    position: relative;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    grid-row: 2;
}

.sub-wrapper1i {
    position: relative;
    width: 100%;
    height: 700px;
    display: grid;
    grid: subgrid;
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: repeat(4, 175px);
    background-color: aqua;
}

.box-1 {
    position: relative;
    width: 100%;
    height: 175px;
    background-color: white;
    grid-row: 1;
}

.box-2 {
    position: relative;
    width: 100%;
    height: 175px;
    background-color: white;
    grid-row: 2;
}

.box-2-3-big {
    position: relative;
    background-color: white;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

.box-3 {
    position: relative;
    width: 100%;
    height: 175px;
    background-color: white;
    grid-row: 3;
}

.box-4 {
    position: relative;
    width: 100%;
    height: 175px;
    background-color: white;
    grid-row: 4;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.row3i {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    grid-row: 3;
}

.sub-wrapper2i {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 360px 300px;
}

/*footer*/
.left-footer {
    display: inline-block;
    grid-column: 1;
}

.left-footer h1 {
    position: relative;
    width: 300px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0;
    margin-top: 10px;
}

.right-footer {
    display: inline-block;
    grid-column: 3;
    justify-self: end;
}

.social {
    position: relative;
    margin: 5px;
}


/*css of services.html*/

.wrapper-services {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 40px 150px 600px 100px 60px;
}

/*header*/
.row1s {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    grid-row: 1;
}

.row2s {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgb(75, 224, 30);
    grid-row: 2;
}

.row2s h1 {
    position: relative;
    font-size: 30px;
    color: white;
    margin-left: 20px;
    padding-top: 20px;
}

.heading2 {
    position: relative;
    font-size: 20px;
    color: black;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid white;
}

.row3s {
    position: relative;
    width: 100%;
    height: 600px;
    grid-row: 3;
}

.sub-wrapper1s {
    position: relative;
    display: grid;
    grid: subgrid;
    grid-template-columns: 320px 640px;
    grid-row: 3;
}

.column-left {
    position: relative;
    grid-column: 1;
    width: 100%;
    height: 600px;
    background-color: rgb(242 181 68);
}

.column-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.column-left h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    color: red;
}

.column-left ul {
    background-color: beige;
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.column-left ul li h3 a {
    font-size: 20px;
    text-decoration: underline;
    color: brown;
}

.column-right {
    position: relative;
    grid-column: 2;
    width: 100%;
    height: 600px;
    background-color: rgb(85 217 217);
}

.para {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 50px;
    margin-left: 25px;
    color: blue; 
}

.box {
    position: relative;
    height: 120px;
    width: 120px;
    margin: 20px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    background: white;
    border: 1px solid black;
}

.box:hover {
    background-color: lightcyan;
    border-bottom: 3px solid red;
}

.prizes {
    position: relative;
    margin-top: 50px;
    margin-left: 25px;
}

.heading2b {
    position: relative;
    font-size: 20px;
    color: red;
}

.para2 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: 25px;
    color: blue; 
}

.row4s {
    position: relative;
    grid-row: 4;
    width: 100%;
    height: 100px;
    background-color: rgb(242 95 41);
}

.row4s h4 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding-top: 20px;
    margin-left: 25px;
    color: white;
}

.email {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}

.row5s {
    position: relative;
    grid-row: 5;
    width: 100%;
    height: 60px;
}

.sub-wrapper2s {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 360px 300px;
}

/*footer*/
.left-footer {
    display: inline-block;
    grid-column: 1;
}

.left-footer h1 {
    position: relative;
    width: 300px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0;
    margin-top: 10px;
}

.right-footer {
    display: inline-block;
    grid-column: 3;
    text-align: right;
}

.social {
    position: relative;
    margin: 5px;
}

/*css of about.html*/

.wrapper-about {
    position: relative;
    width: 100%;
    height: 1050px;
    background-color: white;
    display: grid;
    grid-template-rows: 40px 430px 500px 60px;
}

.row1a {
    position: relative;
    grid-row: 1;
}

.row2a {
    position: relative;
    width: 960px;
    height: 430px;
    grid-row: 2;
    display: block;
}

/*sub-wrapper1a*/
.sub-wrapper1a {
    position: relative;
    width: 100%;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 200px 200px 250px;
    height: 430px;
    margin: 30px auto;
}

.main-top {
    width: 100%;
    grid-column: 1;
}

.main-top img {
    width: 80%;
    border-radius: 150px;
    border: 1px solid black;
    z-index: 1;
    margin-left: 50px;
}

.main-top img:hover {
    -webkit-filter: grayscale();
    filter: grayscale();
}

.main-top2 {
    width: 100%;
    grid-column: 2;
}

.main-top2 h1 {
    font-size: 40px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}

.main-top2 p {
    position: relative;
    top: 150px;
    color: blue;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.aside-top {
    position: relative;
    width: 100%;
    font-size: 20px;
    margin-left: 5px;
    grid-column: 3;
}

.aside-top h2 {
    font-size: 20px;
    color: tomato;
    margin-top: 130px;
}

.aside-top ul {
    list-style: none;
    padding-left: 10px;
}

.aside-top ul li {
    font-size: 20px;
    color: blue;
}

.side-column {
    width: 100%;
    height: 420px;
    box-sizing: border-box;
    border: 3px solid red;
    grid-column: 4;
}

.side-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.exit-links {
    padding: 10px;
    margin: 10px;
    opacity: .9;
    line-height: 40px;
    text-align: center;
}

.exit-links a {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 40px;
    color: brown;
    font-size: 20px;
    font-family: 'Arial';
    text-decoration: none;
    background: lightgoldenrodyellow;
    text-indent: 15px;
}

.row3a {
    position: relative;
    width: 960px;
    height: 500px;
    grid-row: 3;
    display: block;
}

.sub-wrapper2a {
    width: 960px;
    margin: 30px auto;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 25px;
    height: 430px;
    grid-row: 3;
}

.education-main {
    width: 100%;
    font-size: 18px;
    margin-left: 20px;
    grid-column: 1;
}

.experience-main {
    width: 100%;
    font-size: 18px;
    margin-left: 20px;
    grid-column: 2;
}

.skills-main {
    width: 100%;
    font-size: 18px;
    margin-left: 20px;
    grid-column: 3;
}

div div dl {
    position: relative;
    font-size: 18px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

div div dl dt {
    position: relative;
    font-style: italic;
    width: 100%;
    background-color: transparent;
    font-weight: bold;
}

div div dl dd {
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
    margin-left: 15px;
    background-color: transparent;
    text-align: justify;
}

div div dl dd h3 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

div div dl dd p {
    position: relative;
    background-color: transparent;
    text-align: left;
    color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skills-main ul {
    list-style: none;
}

.skills-main ul li {
    position: relative;
    font-size: 18px;
    background-color: transparent;
    text-align: left;
    color: blue;
}

.education-main h2, .experience-main h2, .skills-main h2, .aside-top h2 {
    color: red;
    font-size: 22px;
    margin: 10px;
}

.profile, .languages, .web-dev, .interests, .experience, .education {
    text-decoration: underline;
}

.row4a {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    grid-row: 4;
}

.sub-wrapper2a {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 300px 300px;
}

.left-footer-a {
    grid-column: 1;
}

.left-footer-a h1 {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.right-footer-a {
    grid-column: 3;
    text-align: right;
}

/*css of projects.html*/

.wrapper-projects {
    position: relative;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-rows: 40px 700px 60px;
}

header {
    grid-row: 1;
}

.row2p {
    grid-row: 2;
}

.sub-wrapper1p {
    position: relative;
    width: 100%;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 350px 350px;
    column-gap: 30px;
}

.row1col1p {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.row1col2p {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.row1col3p {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}

.row2col1p {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

.row2col2p {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

.row2col3p {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}

footer {
    grid-row: 3;
}

.sub-wrapper2p {
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid: subgrid;
    grid-template-columns: 300px 360px 300px;
}

/*footer*/
.left-footer-p {
    grid-column: 1;
}

.left-footer-p h1 {
    position: relative;
    width: 300px;
    line-height: 40px;
    color: black;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0;
    margin-top: 10px;
}

.right-footer-p {
    grid-column: 3;
    text-align: right;
}

/*css of projects.html*/

.a-link {
    position: relative;
    top: 50px;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.box1 a {
    color: orange;
}

.box1 img:hover {
    -webkit-filter: grayscale();
    filter: grayscale();
}

.image-bible {
    position: relative;
    top: 70px;
    width: 100%;
    height: auto;
    border-radius: 160px;
    margin-left: 10px;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
}

.image-pesen {
    position: relative;
    top: 70px;
    width: 90%;
    height: auto;
    border-radius: 160px;
    margin-left: 10px;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
}

.image-kultura {
    position: relative;
    top: 90px;
    width: 90%;
    height: auto;
    border-radius: 160px;
    margin-left: 10px;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
}

/*css of full project-pages - 8-11full.html*/

.redirect {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.redirect a {
    position: relative;
    font-size: 20px;
}

.full {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.full h1 {
    color: orange;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.full a {
    color: blue;
    font-size: 1em;
    text-decoration: none;
    margin-left: 15px;
}

.full p a {
    margin-left: 0;
}

.full a:link {
    color: blue;
}

.full a:hover {
    color: orange;
}

.full a:visited {
    color: red;
}

.full p {
    text-align: justify;
    text-indent: 15px;
    padding: 5px; 
}

.full blockquote {
    font-size: 18px;
    font-style: oblique;
    color: tomato;
    text-align: justify;
    text-indent: 15px;
    margin-top: 10px;
    padding: 5px;
}

.intro {
    font-size: 15px;
}

.begin::first-letter {
    font-size: 200%;
    color: red;
}

.full {
    margin: auto;
    max-width: 960px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.back {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

/*css in multicolumns - 8-11col.html*/

.multicol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.multicol h1 {
    color: orange;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.multicol a {
    color: blue;
    font-size: 1em;
    text-decoration: none;
    margin-left: 15px;
}

.multicol p a {
    margin-left: 0;
}

.multicol a:link {
    color: blue;
}

.multicol a:hover {
    color: orange;
}

.multicol a:visited {
    color: red;
}

.multicol p {
    text-align: justify;
    text-indent: 15px;
    padding: 5px; 
}

.multicol blockquote {
    font-size: 18px;
    font-style: oblique;
    color: tomato;
    text-align: justify;
    text-indent: 15px;
    margin-top: 10px;
    padding: 5px;
}

.intro {
    font-size: 15px;
}

.begin::first-letter {
    font-size: 200%;
    color: red;
}

.multicol {
    margin: auto;
    max-width: 960px;
    columns: 3 300px;
    column-gap: 25px;
    column-rule: 1px solid red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.back {
    text-align: center;
    padding-bottom: 20px;
}

/*css of news.html*/

.news-main {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
}

.news1 {
    position: relative;
    width: 50%;
    height: 200px;
    background-color: transparent;
    display: block;
    text-align: center;
    padding-top: 130px;
    display: inline-block;
}

.news2 {
    position: relative;
    color: red;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    margin-left: 10px;
}

.attention2 {
    position: relative;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    color: #F2B544;
}

.news3 {
    position: relative;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
}

.news4 {
    color: blue;
}

.box-news {
    position: relative;
    top: -300px;
    left: 480px;
    width: 50%;
    display: inline-block;
    margin-left: 30px;
}

.news-image {
    position: relative;
    width: 90%;
    border: 1px solid red;
    border-radius: 150px;
}

/*css of security.html*/

.sec-main {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
}

.sec1 {
    position: relative;
    width: 50%;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

.sec2 {
    position: relative;
    color: red;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

.attention-sec {
    position: relative;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #F2B544;
}

.sec3 {
    position: relative;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-left: -10px;
}

.sec4 {
    color: blue;
}

.box-sec {
    position: relative;
    width: 50%;
    display: inline-block;
    margin-left: 30px;
    top: -180px;
    left: 480px;
}

.sec-image {
    position: relative;
    width: 90%;
    border: 1px solid red;
    border-radius: 150px;
}

